<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.unity3d.player" xmlns:tools="http://schemas.android.com/tools">
	<!--android:requestLegacyExternalStorage="true"-->
	<application android:enabled="true" >
		<activity android:name="com.unity3d.player.UnityPlayerActivity" android:theme="@style/UnityThemeSelector">
			
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<meta-data android:name="unityplayer.UnityActivity" android:value="true" />
		</activity>
		
		<meta-data android:name="unityplayer.UnityActivity" android:value="true" />
		<meta-data android:name="billing.service" android:value="myket.MyketIabService" />
		<activity android:name="com.myket.MyketIABProxyActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
		<activity android:name="com.gerantech.crossbilling.CrossBilling$IabActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" android:background="#30000000" android:screenOrientation="landscape" android:configChanges="orientation|keyboardHidden" />
	</application>
	<uses-permission android:name="android.permission.INTERNET" />
	<!--For Google-->
	<!--<uses-permission android:name="com.android.vending.BILLING" />-->
	<!--For CafeBazaar-->
	<uses-permission android:name="com.farsitel.bazaar.permission.PAY_THROUGH_BAZAAR" />
	<!--For Myket-->
	<!--<uses-permission android:name="ir.mservices.market.BILLING" />-->
</manifest>